<html>
    <head>
        <title><%i=title%></title>
        <%- style %>
        <link rel="stylesheet" href="\css\layout.css">
        
    </head>
    <body>
        <%- include('_headers');%>
        <%- body%>
        <%- include('_footer');%>
        <%- script %>
    </body>
</html>