<link rel="stylesheet" href="\css\userprofile.css">
<h1>codeial/User profile </h1>




<% if(locals.user.id==profileuser.id){%>

<form action="/user/update/<%=profileuser.id%>" method="Post">
<input type="text" name="name" placeholder="your name" value="<%=profileuser.name%>" required>
<input type="text" name="email" placeholder="your email" value="<%=profileuser.email%>" required>
<input type="submit" value="update">


    
</form>

<%}else{%>
    <p><%=profileuser.name%></p>
<p><%=profileuser.email%></p>
<%}%>